# Australian Wildfire Visualization

This is a project suggested by Terence Shin in his Medium article "14 Data Science Projects to do During Your 14 Day Quarantine."  It uses a NASA Modis Fire dataset via Kaggle.  After completing this project, I will explore the possibility of doing something similar for the Pacific Northwest.

## Import Libraries

In [4]:
import numpy as np
import pandas as pd
import plotly as py
import plotly.express as px

## Set Pandas Options

In [5]:
pd.set_option('display.max_rows',15)

## Import Data

In [6]:
fire_datafile = 'fire_archive_M6_96619.csv'
fire_data = pd.read_csv(fire_datafile)

In [9]:
fire_data.head()

,latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,instrument,confidence,version,bright_t31,frp,daynight,type
0,-11.8070,142.0583,313.0,1.0,1.0,2019-08-01,56,Terra,MODIS,48,6.3,297.3,6.6,D,0
1,-11.7924,142.0850,319.3,1.0,1.0,2019-08-01,56,Terra,MODIS,71,6.3,297.3,11.3,D,0
2,-12.8398,132.8744,311.6,3.1,1.7,2019-08-01,57,Terra,MODIS,42,6.3,298.7,23.1,D,0
3,-14.4306,143.3035,310.1,1.1,1.1,2019-08-01,57,Terra,MODIS,33,6.3,296.1,6.5,D,0
4,-12.4953,131.4897,310.3,4.0,1.9,2019-08-01,57,Terra,MODIS,36,6.3,298.8,27.6,D,0

In [10]:
fire_data.shape

(36011, 15)